{% extends 'layout.html'%}

{% block content %}
<h1>Home Page</h1>
{% for project in projects %}
    <article class="media content-section">
        <div class="article-metadata">
            <small class="text-muted">{{ project.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <div>
            <h2>{{ project.title }}</h2>
            <p class="article-content">{{ project.description }}</p>
        </div>
        <div class="article-metadata">
            <small class="text-muted">Skills needed: {{ project.skills_needed }}</small>
        </div>
        {% if project.owner == current_user %}
            <a href="{{ url_for('create_post', project_id=project.id) }}" class="btn btn-outline-info">Create a post</a>  
            <a class="btn btn-primary" href="{{ url_for('view_applications', project_id=project.id ) }}">View applications</a> 
            <a class="btn btn-primary" href="{{ url_for('view_members', project_id=project.id ) }}">View members</a> 
        {% endif %}
    </article>
{% endfor %}
{% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if projects.page == page_num %}
                <a class='btn btn-info mb-4' href="{{ url_for('my_projects', page=page_num )}}">{{ page_num }}</a>
            {% else %}
                <a class='btn btn-outline-info mb-4' href="{{ url_for('my_projects', page=page_num )}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock content %}